<!-- 전체페이지 -->
<div class="flex justify-center items-start h-[100vh] w-full bg-gray-500 text-white overflow-y-auto py-20">
  <!-- todo -->
  <div class="todo flex w-[50vw] max-w-screen-sm flex-col items-center rounded-[24px] bg-[#303C4E] mt-10 p-6 py-12">
    
    <!-- avatar -->
    <div class="avatar flex w-full flex-col items-center justify-center p-3">
      <div class="w-[150px] h-[150px] overflow-hidden rounded-full border-[6px] border-red-700">
        <img src="../assets/img/racoon.jpg" alt="" class="w-auto h-full">
      </div>
      <div class="p-4 text-center font-normal">
        <div class="userName text-xl">지연우</div>
        <div class="text-sm">오늘 할일을 내일로 미루지 말자</div>
      </div>
    </div>

    <!-- todo -->
    <div class="w-[380px] p-3">

      <!-- todo-input -->
      <!-- bg-transparent로 input창의 배경 날림 -->
        <div class="flex mb-3 justify-between">
          <input #todoInput 
          class="w-[75%] rounded-full border-[1px] border-white px-3 py-2 bg-transparent"/>
          <button (click)="onCreate(todoInput)" 
          class="w-[22%] rounded-full bg-white font-normal text-[#303C4E] px-3 py-2
          hover:bg-blue-400 hover:text-white">생성</button>
        </div>


      <!-- todo-list -->
      <div class="w-full flex flex-col gap-2">
        <div 
        *ngFor="let schedul of schedules"
        class="flex justify-between rounded-full border-[1px] border-white px-3 py-2">
          <div>{{schedul.text}}</div>
          <div class="flex gap-1 [&>button]:rounded-full [&>button]:px-3 [&>button]:text-xs">
            <button (click)="onUpdate(schedul)" class="bg-blue-500">수정</button>
            <button (click)="onDelete(schedul.id)" class=" bg-red-500">삭제</button>
          </div>
        </div>

        <div *ngIf="!schedules.length">
          <div>스케쥴을 입력해주세요...</div>
        </div>
    </div>

    </div>
  </div>
</div>

<div
*ngIf="toast.isShow"
class="fixed bottom-10 left-0 flex w-full justify-center">
<div *ngIf="toast.toastStatus === 'success'" class="h-full w-[50vw] max-w-screen-sm bg-blue-500 p-2 text-center">{{toast.toastText}}</div>
<div *ngIf="toast.toastStatus === 'warning'" class="h-full w-[50vw] max-w-screen-sm bg-orange-500 p-2 text-center">{{toast.toastText}}</div>
<div *ngIf="toast.toastStatus === 'error'" class="h-full w-[50vw] max-w-screen-sm bg-red-500 p-2 text-center">{{toast.toastText}}</div>

</div>
